<div class="home-page-container">
    <div class="header-container">
        <h2>Foodie Delight</h2>
    </div>
    <div class="main-container">
        <div class="action-btn-container">
            <button mat-flat-button (click)="addNewRestaurant()"> Add new Restaurant</button>
        </div>
        <div class="cards-container">
            <ng-container *ngFor="let card of restaurantCards">
                <app-restaurant-card [cardDetails]="card" (viewClicked)="viewRestaurant($event)" (deleteClicked)="deleteRestaurant($event)"></app-restaurant-card>
            </ng-container> 
        </div>
    </div>
    <div class="footer-container">
        <p>Made by Tejas Labde</p>
    </div>
</div>